@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss";   */

@layer utilities {
    /* @layer base {
        :root {
            --color-accent: var(--color-green-600);
            --color-accent-content: var(--color-green-600);
            --color-accent-foreground: var(--color-white);
        }
    
        .dark {
            --color-accent: var(--color-green-600);
            --color-accent-content: var(--color-green-400);
            --color-accent-foreground: var(--color-white);
        }
    } */
    @media print {
        .print {
            display: flex !important;
        }
        .no-print {
            display: none !important;
        }
        .print-adjust-h {
            min-height: auto !important;
        }
        .print-adjust-p {
            padding: 0.5rem !important;
        }
        .padding-2-bug-fix {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        .print-remove-b {
            border: none !important;
        }
        .print-adjust-bg {
            background-color: transparent !important;
        }
        .print-adjust-spacing > * + * {
            margin: 0.5rem !important;
        }
        .print-adjust-width {
            max-width: 100% !important;
        }
        h1, h2, h3, h4, h5, h6, p, a, span, strong, em, li, td, th, div {
            color: black !important;
        }    
    }
    @keyframes pulse {
        0%,
        100% {
            transform: scale(1);
            opacity: 0.7;
        }

        50% {
            transform: scale(1.15);
            opacity: 1;
        }
    }

    .pulse {
        animation: pulse 2s infinite ease-in-out;
    }
}
